body {
  -webkit-font-smoothing: antialiased;
  background: #1a1a1a;
}

#container {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#container h3 {
  color: white;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  letter-spacing: 1px;
}

#container p {
    font-family: 'EB Garamond', serif;    
    font-size: 20px;
    color: #f2f2f2ff;  
    margin-bottom: 25px;
    line-height: 28px;
    box-sizing: border-box;
}

