body {
  background: #1a1a1a;
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}


/* Footer Wrap */

#f {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center
}

#f h3 {
  color: white;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

#f i {
  font-size: 8px;
  color: #fff;
  padding: 3px;
}

#f p {
  font-size: 20px;
  color: #f2f2f2;
}


/* Copyrights */

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

#copyrights a {
  color: #f0ad4e;
}

#copyrights p {
  margin-bottom: 5px;
}

.credits {
  color: #999;
}



/***** copy  *******/


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  
  .col-lg-6 {
    width: 50%;
    margin-left: 25%;
  }

}

